* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #070707;
}

.container {
  position: relative;
  width: 750px;
  height: 300px;
  background: #393a3a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 80px;
}

.container h2 {
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
  color: #19ff20;
  font-weight: 500;
}

.container .inputArea {
  position: relative;
  justify-content: center;
  padding-left: 80px;
  width: 90%;
}

.container .inputArea input {
  position: relative;
  justify-content: center;
  width: 90%;
  background: #64676b;
  border:none;
  outline: none;
  padding: 10px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

.container .strengthMeter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13px;
  background: #0c0c0c;
}

.container .strengthMeter::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: 0.5s;
  background: rgb(6, 6, 6);
}

.container.weak .strengthMeter::before {
  width: 20%;
  background: rgb(235, 10, 10);
 
}

.container.moderate .strengthMeter::before {
  width: 50%;
  background: #f2fd14;
 
}

.container.strong .strengthMeter::before {
  width: 100%;
  background: #76f090;
  
}

.container .strengthMeter::after {
  position: absolute;
  top: -45px;
  left: 30px;
  transition: 0.5s;
  color: aliceblue;
}

.container.container.weak .strengthMeter::after {
  content: "  STATUS: WEAK  ";
  color: rgb(225, 14, 14);
  
}

.container.container.container.moderate .strengthMeter::after {
  content: " STATUS: MODERATE";
  color: #f2fd14;
}

.container.container.container.container.strong .strengthMeter::after {
  content: "STATUS :STRONG";
  color: #76f090;
}

.show {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background: #0c0c0c;
  border: 2px solid #03fb28;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show::before {
  content: "SHOW";
  font-size: 0.7em;
  color: #03fb28;
  letter-spacing: 0.15em;
}

.show.hide::before {
  content: "HIDE";
}
